.input-field {
  width: 75px;
  height: 75px;
  border: 1px solid black;
  border-right-width: 0px;
  border-radius: 0px;
  margin: 5px 0px 10px 0px;
}

.input-field:hover {
  border: 2px solid black;
  border-right-width: 1px;
}

.input-field:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.input-field:last-child {
  border-right-width: 1px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.input-field:last-child:hover {
  border-right-width: 2px;
}
