@import "./stylesheets/SixColors.css";
@import "./stylesheets/InputFields.css";
@import "./stylesheets/cards.css";

body {
  font-family: arial;
  font-size: 18px;
  background-color: white;
  margin-top: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  text-align: center;
}

button {
  margin-bottom: 10px;
  border: 0px;
  border-radius: 30px;
  background-color: #4f30da;
  color: white;
  width: 130px;
  height: 40px;
  font-size: 18px;
  text-align: center;
}

button:hover {
  background-color: rgb(40, 40, 190);
}

b {
  color: rgb(105, 1, 105);
}

#trials {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.centered-text {
  text-align: center;
}

/* @media only screen and (min-width: 1000px) {
  .main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
} */
